@model CateringOrderWebApplication.Models.ViewModels.HomeViewModel;

@{
    ViewData["Title"] = "Home Page";
}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-5 py-5">
        <div class="col-12 col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">
                Catering web application
            </h1>
            <p class="lead">
                Catering web application allows you to customize and order personal catering plan that will provide you with delicious meals and healthy life.

                @*  <p class="lead fw-bold">Start today!</p>
                <button class="btn btn-dark">Start</button> *@
            </p>
        </div>

        <div class="col-12 col-lg-6">
            <img src="https://media.istockphoto.com/id/1281014931/pl/zdj%C4%99cie/sma%C5%BCenie-mi%C4%99sa-na-patelni.jpg?s=1024x1024&w=is&k=20&c=JCK1txiJeS-R2p8qoPftCNW-WCBs3fINR_bC8N03Ouw="
                 alt="catering"
                 lass="d-block mx-lg-auto img-fluid"
                 width="600" />
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 d-flex">
            @if (@Model != null && @Model.Tags.Count() > 0)
            {
                @foreach (var tag in @Model.Tags)
                {
                    <span class="badge bg-dark me-1">@tag.Name</span>
                }
            }
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            @if (@Model.Caterings.Count() > 0)
            {
                @foreach (var catering in @Model.Caterings)
                {
                    <div class="mt-4 mb-4 bg-light box-shadow px-5 py-5 d-flex">
                        <img src="@catering.FeaturedImageUrl" alt="@catering.Name"
                             class=" mb-2 d-block" width="55%">

                        <div class="m-3">
                            <h6 class="mb-2">@catering.ShortDescription</h6>
                            <h2 class="mb-4">@catering.Name</h2>
                            <p class="mb-4">
                                @catering.Content
                            </p>
                            <p>Cena: @catering.Price</p>

                            <p mb-4>
                                @foreach (var tag in catering.Tags)
                                {
                                    <span class="badge bg-secondary me-1">@tag.Name</span>
                                }
                            </p>
                            <button class="btn btn-dark ">Zamów</button>
                        </div>
                    </div>
                }
            }
        </div>
    </div>

</div>
