@model CateringOrderWebApplication.Models.ViewModels.HomeViewModel;

@{
    ViewData["Title"] = "Home Page";
}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-5 py-5">
        <div class="col-12 col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">
                Catering web application
            </h1>
            <p class="lead">
                Catering web application allows you to customize and order personal catering plan that will provide you with delicious meals and healthy life.

                @*  <p class="lead fw-bold">Start today!</p>
                <button class="btn btn-dark">Start</button> *@
            </p>
        </div>

        <div class="col-12 col-lg-6">
            <img src="https://media.istockphoto.com/id/1281014931/pl/zdj%C4%99cie/sma%C5%BCenie-mi%C4%99sa-na-patelni.jpg?s=1024x1024&w=is&k=20&c=JCK1txiJeS-R2p8qoPftCNW-WCBs3fINR_bC8N03Ouw="
                 alt="catering"
                 lass="d-block mx-lg-auto img-fluid"
                 width="600" />
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">

        <p class="h1 text-info display-1">Poznaj naszą ofertę</p>

    </div>
</div>

<div class="container col-xxl-12 px-4 py-5">
    @if (@Model.Caterings.Count() > 0)
    {
        <div class="container py-5">
            <div class="row px-4 py-4">
                @foreach (var catering in @Model.Caterings)
                {
                    <div class="col-md-4 col-xs-6 border-primary mb-3">
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-12">
                                    <div class="card-header text-white bg-info">
                                        <p class="card-text">
                                            <h5 class="card-title">
                                                @catering.Name
                                            </h5>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <img src="@catering.FeaturedImageUrl" width="200%" height=" 100%" alt="@catering.Name">
                                </div>
                                <div class="col-md-6" style="background: aliceblue; min-height: 290px">
                                    <div class="card-body">
                                        <p class="card-text">@catering.ShortDescription</p>
                                        <p class="card-text"><b>Details: </b>@catering.Content</p>
                                        <p class="card-text"><b>Price: </b>@catering.Price</p>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="card-footer ">
                                        <p class="card-text">
                                            <a class="btn btn-outline-primary mb-2" asp-action="" asp-route-id="@catering.Id">
                                                <i class="bi bi-eye-fill"></i> Show Details
                                            </a>
                                            <a class="btn btn-success text-white"
                                               asp-controller=""
                                               asp-action=""
                                               asp-route-id="@catering.Id">
                                                <i class="bi bi-cart-plus"></i> Add to Cart (Price @catering.Price.ToString("c"))
                                            </a>
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>

