@model List<CateringOrderWebApplication.Models.DomainModels.Tag>;


<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Show all tags</h1>
    </div>
</div>

<div class="container py-5">
    @if (@Model != null && @Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Display name</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var t in @Model)
                {
                    <tr>
                        <td>@t.Id</td>
                        <td>@t.Name</td>
                        <td>@t.DisplayName</td>
                        <td>
                            <a
                                class="btn btn-dark"
                                asp-area=""
                               asp-controller="AdminTags"
                               asp-action="Edit"
                               asp-route-id="@t.Id">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No tags found</p>
    }

</div>